@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body {
  font-family: Indie Flower , sans;
  background-color : turquoise;

  padding-top : 100px;
  border-top: double 4em orangered ;
  }

  div{
    display: flex;
    justify-content: center;

}
ul{
  list-style :  none;
}

li{
  font-size: 30px;
  padding: 10px 0px 30px 0px;
  font-weight: bold;
}

.btn {
  background-color: black;
  border : inset red;
  border-radius: -10px 10px ;
  color: white;
  text-align: center;
  position: relative;
  height: 30px;
  width: 30px;
  float:right;
  font-weight: bold;
  font-size: 5px;
}

.btn-delete{
border : inset red;
float : left;
font-size: 29px;
}
.btn-delete:hover{
background-color: #ffe6e6;
}
.btn-markTodo{
float : right;
background-color: green;
content: 'Hello World';
}
.btn-done{
float : right;
}

form{
  display: flex;
  justify-content: center
  background-color : white;

}
#add-todo input {
  position: fixed;

  font-size: 35px;
  display: flex;
  border-radius: 0px;
  font-family: Indie Flower , sans;
  height:10%;
  bottom: 0px;
  border: 3.5px;
}

#add-todo input[type = text]{
  right: 0px;
  width:75%;
}

#add-todo input[type = submit]{
  left: 0px;
  width:25%;
  background-color: orangered ;
  font-weight: bold;
}
