@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body {
  font-family: Indie Flower , sans;
  background-color : turquoise;
  }
  div{
    display: flex;
    justify-content: right;
}
ul{
  list-style :  none;
}

li{
  display:grid;
  grid-template-columns: 1fr 10fr 1fr;
  font-size: 35px;
  padding: 10px 0px 10px 0px;
  width:90%;


}
.btn {
  background-color: none;
  border: 2px solid square black;
  border-radius: 6px 12px;
  text-color: white;
  text-align: center;
  text-decoration: none;
  display: outline-block;
  height: 40px;
  width: 40px;


}
.btn-delete{
background-color: #d8673e;
float: left;
font-size: 35px;
}
.btn-done{
background-color : blue ;

}
form{
  display: flex;
  justify-content: center;
  background-color : white;

}
#add-todo input {
  position: fixed;
  font-size: 35px;
  border-radius: 0px;
  font-family: Indie Flower , sans;
  height:10%;
  bottom: 0px;
  border: 0px;
  border-color: black;
}

#add-todo input[type = text]{
  right: 0px;
  width:75%;
}
#add-todo input[type = submit]{
  left: 0px;
  width:25%;
  background-color: #e878e2;
}
